// Make it universal
SUPPORTED_PLATFORMS = appletvos appletvsimulator
PRODUCT_NAME = TvOSPinKeyboard
CLANG_MODULES_AUTOLINK = YES

VALID_ARCHS[sdk=appletvos*]            = arm64
VALID_ARCHS[sdk=appletvsimulator*]     = x86_64

// FMWK paths
FRAMEWORK_SEARCH_PATHS                 = $(inherited)
FRAMEWORK_SEARCH_PATHS[sdk=appletv*]   = $(SRCROOT)/Carthage/Build/tvOS

OTHER_LDFLAGS = $(inherited) -ObjC -all_load -framework "Cartography" -framework "FocusTvButton"

// Dynamic linking uses different default copy paths
LD_RUNPATH_SEARCH_PATHS[sdk=appletv*]  = $(inherited) '@executable_path/Frameworks' '@loader_path/Frameworks'

// TV-specific default settings
TARGETED_DEVICE_FAMILY[sdk=appletv*]   = 3

ENABLE_BITCODE[sdk=appletv*]           = YES

TVOS_DEPLOYMENT_TARGET = 10.0
